aiohttp==3.10.5
anthropic==0.34.2
beautifulsoup4==4.12.3
bs4==0.0.2
dotenv==1.0.1
groq==0.11.0
httpx==0.27.2
openai==1.47.0
pydantic==2.8.2
python-dotenv==1.0.1
requests==2.32.3
toolhouse==1.2.0
uagents==0.15.2
